.filters-list {
    width: 100%;
}

.results-filter .mat-raised-button:not([class*=mat-elevation-z]), .results-filter .mat-accordion .mat-expansion-panel:last-of-type, .results-filter .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

.results-filter .mat-accordion .mat-expansion-panel:first-of-type{
    border-radius: 0;
}

.results-filter .mat-expansion-panel-header{
    padding: 0 10px;
}

.results-filter .mat-expansion-panel-header-title{
    font-size: 16px;
}

.results-filter .mat-expansion-indicator::after{
    padding: 5px;
    margin-top: -5px;
  }
  
  .results-filter .mat-expansion-panel-body{
    padding: 0px 14px 10px;
  }
